.modal-product_popup {
    max-width: 537px;
}

.quick-add-modal__content-popup {
    flex-direction: column;
}

.header-product_popup {
    display: flex;
}

.slide--product_popup {
    max-width: 164px;
    max-height: 164px;
    margin: 0;
}

.slide--product_popup img {
    min-width: 108px;
    min-height: 108px;
    width: 100%;
}

.list-img_popup {
    padding: 0;
    margin: 0;
}

.variant-picker fieldset {
    border: none;
    padding: 0;
    margin: 20px 0 0 0;
}

.variant-picker label {
    border: 1px solid #E0DFDF;
}

/* .variant-picker input[type="radio"] {
    display: none;
} */

.variant-picker input[type="radio"]:checked + label{
    border: 1px solid black;
}

.style-variant-popup {
    display: flex;
    width: calc( 25% - 6px );
    min-width: 80px;
    justify-content: center;
    height: 48px;
    align-items: center;
    
}

.list-picker-variant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.8rem;
}

.button-popup-addcart {
    margin-top: 16px;
}

.variant-picker .disabled + label {
    position: relative;
    overflow: hidden;
}


.variant-picker .disabled + label::after {
    position: absolute;
    content: '';;
    width: 120%;
    height: 1px;
    background-color: #E0DFDF;
    transform: rotateZ(20deg);
}