
@font-face {
    font-family: 'Alaska VAR';
    src: url('AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 700;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 600;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 500;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 400;
}

@font-face {
    font-family: 'Alaska VAR';
    src: url('AlaskaVAR-Regular.ttf') format('truetype');
    font-display: wrap;
    font-weight: 300;
}

@font-face {
    font-family: 'Alaska VAR Italic';
    src: url('AlaskaVAR-RegularItalic.otf') format('opentype');
    font-display: wrap;
    font-style: italic;
    font-weight: 400;
}
.font-fa {
    font-family: 'Alaska VAR';
}   
.product-vendor {
    line-height: 32px;
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.newdesign-product-title {
    color: black;
    font-size: 20;
    line-height: 24px;
    font-weight: 400;
}

.money-sale {
    color: #E3413B;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
}

.price-compare {
    color: #9D9EA0;
    font-size: 16px;
    line-height: 24px;
}

.relative-style {
    position: relative;
}
.new-price {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
}

.style-btn {
    position: relative;
    padding: 12px;
    min-width: 99px;
    overflow: hidden;
    border-radius: 2px;
    font-weight: 600;
}
.style-btn::after{
    position: absolute;
    display: none;
    background-color: #E0DFDF;
    content: '';
    width: 150%;
    height: 1px;
    top: 11px;
    left: -3px;
    transform: rotate(-201deg)
}

.new-add-to-card {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    background-color: #C03732;
    color: white;
    border-radius: 2px;
    margin-bottom: 0;
}

.new-summary {
    align-items: center;
}

.text-summary {
    font-size: 16px;
    line-height: 24px;
    font-family: match;
}
.new-summary a {
   color: black;
}

.icon-coll {
    margin-right: 10px;
}

.new-variant {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: 600;
}

.group-btn {
    display: flex;
}

.wish-list {
    border: none;
    border-radius: 2px;
    background-color: #C03732;
    margin-left: 2px;
    padding: 11px;
}

.hidden {
    display: none;
}

.style-list-img {
    max-width: 821px !important;
}

.list-button {
    margin-bottom: 0;
}
.remove-style {
    margin-bottom: 0 !important;
}

.payment-group {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    border-bottom: 1px solid #E0DFDF;
    margin: 0;
}

.payment-group modal-opener {
    width: 50%;
    text-align: center;
}

.payment-group modal-opener:first-child {
    border-right: 1px solid #E0DFDF;
}
.style-btn-popup {
    padding-right: 0;
}

.text-payment {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: black;
}