.color-swatch {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.color-variant {
    box-sizing: border-box;
    margin-right: 8px;
}

.color-variant:last-child {
    margin-right: 0;
}

.color-variant span {
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 3px;
}

.choose {
    box-shadow: 1px 2px 3px black;
    border-radius: 5px;

}

.style-heading {
    padding: 0 12px;
}