 
.product-vendor {
    line-height: 32px;
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.newdesign-product-title {
    color: black;
    font-size: 20;
    line-height: 24px;
    font-weight: 400;
}

.money-sale {
    color: #E3413B;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
}

.price-compare {
    color: #9D9EA0;
    font-size: 16px;
    line-height: 24px;
}

.relative-style {
    position: relative;
}
.new-price {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
}

.style-btn {
    position: relative;
    padding: 12px;
    min-width: 99px;
    overflow: hidden;
    border-radius: 2px;
    font-weight: 600;
}
.style-btn::after{
    position: absolute;
    display: none;
    background-color: #E0DFDF;
    content: '';
    width: 150%;
    height: 1px;
    top: 11px;
    left: -3px;
    transform: rotate(-201deg)
}

.new-add-to-card {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    background-color: #C03732;
    color: white;
    border-radius: 2px;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

.new-add-to-card:hover {
  background-color: rgb(227 65 59);
}

.new-summary {
    align-items: center;
}

.text-summary {
    font-size: 16px;
    line-height: 24px;
}
.new-summary a {
   color: black;
}

.icon-coll {
    margin-right: 10px;
}

.new-variant {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: 600;
}

.group-btn {
    display: flex;
    max-height: 54px;
}

.wish-list {
    border: none;
    border-radius: 2px;
    background-color: #C03732;
    margin-left: 2px;
    padding: 11px;
}

.hidden {
    display: none;
}

.style-list-img {
    max-width: 821px !important;
}

.list-button {
    margin-bottom: 0;
}
.remove-style {
    margin-bottom: 0 !important;
}

.payment-group {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    border-bottom: 1px solid #E0DFDF;
    margin: 0;
}

.payment-group modal-opener {
    width: 50%;
    text-align: center;
}

.accordion__title {
    font-family: 'Alaska VAR';
}

.payment-group modal-opener:first-child {
    border-right: 1px solid #E0DFDF;
}
.style-btn-popup {
    padding-right: 0;
}

.text-payment {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: black;
}

.grid-img-product {
    position: relative;
}
.list-tag {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 3;
}
.tag-type {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    padding: 3px 8px;
    background-image: linear-gradient(180deg, #FF9CA8 0%, #FF8057 100%);
    border-radius: 3px;
}

.tag-sale {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    padding: 3px 8px;
    background-color: #E3413B;
    border-radius: 3px;
    margin-right: 12px;
}

.off-tag {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    padding: 16px 0;
    color: black;
    text-align: center;
    border-radius: 2px;
}

.heading-variant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pop-size {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #7A7D81;
}

.heading-tabs {
    display: flex;
}

.heading-tabs p {
    margin-right:  32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #404346;
}

.meta-filde {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: black;
}

.meta-filde span {
    color: #404346 ;
    font-weight: 400;
}

.tabs-title {
    cursor: pointer;
}

.active {
    display: block;
}