.form-quick_view {
    z-index: 2;
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
    display: none;
    transition: all 0.2s ease;
}

.form-quick_view button {
    font-family: 'Alaska VAR';
    display: block;
    width: 90%;
    border: none;
    background-color: #FFFFFF;
    padding: 13px 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    transition:all 0.2s ease-in;
}

.form-quick_view button:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

.underline-links-hover:hover .form-quick_view {
    display: block;
}

.icon-search {
    display: none;
}

@media screen and (max-width:990px) {
    .title-wrapper-with-link {
        justify-content: center;
    }

}

.cart-item__media {
    width: fit-content;
}

/* .value-variant:last-child span {
    display: none;
} */

.list-option-vaiants .product-option:last-child span {
    display: none;
}

.remove--text {
    text-decoration: underline;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #7A7D81;
}

.cart-quantity {
    max-width: 120px;
}

.price-option {
    padding-bottom: 12px;
}

@media screen and (min-width:750px) {
    .cart-item__quantity-wrapper {
        flex-direction: column;
    }

    .cart-item__media {
        max-width: 150px;
    }
}

@media screen and (min-width:990px) {
    #MainContent {
        position: relative;
        min-height: 500px;
    }
    #shopify-section-template--17942965027135__cart-items {
        min-height: 500px;
    }
    
    #shopify-section-template--17942965027135__cart-footer {
        position: absolute;
        width: 100%;
        top: 0;
    }
    .cart-items-desk {
        max-width: 65% !important;
    }

    #main-cart-footer {
        position: relative;
    }

    .cart__footer {
        position: absolute;
        max-width: 344px;
        right: 0;
        top: 96px;
    }
}

.shipping {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 12px;
}

#shipping-draw {
    padding: 24px 24px 0 24px;
}

.line {
    margin: 16px auto;
}

.tall {
    font-weight: unset !important;
}

.free-shipping {
    padding-bottom: 16px;
    border-bottom: 1px solid #E0DFDF;
}

.totals {
    padding: 16px 0;
}

.checkout-style {
    background-color: #C03732;
}

.cart-item__image {
    max-width: 150px;
}

.image-cart__draw {
    height: inherit;
    object-fit: cover;
}

.style-remove {
    flex-direction: unset;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 24px;
}

.vendor-draw {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: black;
}

.href-cart-draw {
    font-family: 'Alaska VAR';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width:750px) {
    .icon-search {
        display: block;
        padding: 8px 0 4px 0;
    }

    .text-btn {
        display: none;
    }

    .form-quick_view button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 0;
        margin: 0 8px 0 0;
        float: right;
        
    }
    
    .cart-item__quantity-wrapper {
        justify-content: space-between;
    }

    .vendor-cart {
        font-size: 16px !important;
        line-height: 20px;
    }

    .cart-items-img {
        padding-right: 16px;
    }
}

.style-error {
    position: relative;
}

.cart-item__error {
    position: absolute;
    right: 0;
}